.CarInfoPreview {
    &__Line {
        color: #111111;
        font-size: 23px;
        font-weight: 300;
        border-bottom: 1px solid #eee;
        padding: 10px 0;
    }
    &__Line:last-child {
        border-bottom: none;
    }
    &__Line:first-child {
        border-top: none;
    }
}
