$color: #ff9393;
.VinInput {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    input {
        font-weight: 400;
        border-radius: 5px;
        border-style: none;
        caret-color: #1056ad;
        background-color: #f1f1f1;
        font-size: 1.4em;
        font-style: bold;
        padding: 9px 13px;
    }
    &__Error {
        color: $color;
        font-size: .5em;
        font-weight: 300;
        position: absolute;
        bottom: -23px;
        width: 100%;
        text-align: center;
    }
    &--invalid {
        input {
            box-shadow: 0px 0px 0px 1px $color inset;
        }
    }
}

::-webkit-input-placeholder {
    color: #bbb
}

*:focus {
    outline: none;
}
